/venv/
/LPP2E/.ipynb_checkpoints/
/LP5E/.ipynb_checkpoints/
/DS_ALGO/.ipynb_checkpoints/
/DS/pandas_cookbook/.ipynb_checkpoints/
/100_days_Python/.idea/
/Z2H/.ipynb_checkpoints/
/projects/JARVIS/.env
/DS/.ipynb_checkpoints/
/.idea/LP.iml
./.idea/misc.xml