<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Interface</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <h1>Admin Interface</h1>
    <p>Total KC in Bank: {{ total_balance }}</p>
    <h2>Users</h2>
    <table border="1">
        <tr>
            <th>User ID</th>
            <th>Balance</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[2] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
