{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block header %}Login{% endblock %}
{% block content %}
<form action="{{ url_for('index') }}" method="post">
    {{ form.hidden_tag() }}
    <label for="user_id">User ID:</label>
    {{ form.user_id }}
    <label for="password">Password:</label>
    {{ form.password }}
    {{ form.submit }}
</form>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: '{{ messages[0] }}',
                });
            });
        </script>
    {% endif %}
{% endwith %}
{% endblock %}
